@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
	font-family: 'Lato', sans-serif;
	overflow: hidden;

	background: url("images/background.jpeg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

	color: white;
}

#content {
	top: 0;
	width: 55%;
	height: 100%;
	position: fixed;

	margin-left: 45%;
	/*background-color: grey;*/
	background-color: rgba(157, 180, 153, 0.6);
	filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));

	/*opacity: 0.4;*/


	/*border: 1px solid grey;*/

	display: flex;
}

#left {
	margin-top: 20%;

	height: 100%;
	width: 50%;
	/*border: 1px solid red;*/
	text-align: center;
}

#left img {
	filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
	width: 75%;
	height: 42%;


	/*height: 300px;*/
}

#right {
	margin-top: 17%;

	height: 100%;
	width: 50%;
	/*border: 1px solid red;*/

	font-size: 22px;
}

#button {
	animation: fadeIn 2s;
	background-color: #00AED9;
	width: 40%;
	height: 5%;

	text-align: center;
	/*padding: 7px;*/
	line-height: 33px;
	padding: 5px;

	filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));

	margin: 10% 0% 0% 10%;
	user-select: none;
	 transition: all 0.3s ease;
}

#button:hover {
	background-color: #0091B4;
	cursor: pointer;
}

#corner_text {
	font-weight: 100;
	position: fixed;
	bottom: 0;
	right: 1%;

	user-select: none;

	/*animation: fadeIn 1s;*/
}

