body {
	font-family: 'Lato', sans-serif;
	overflow: hidden;

	background: url("images/background.jpeg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

	color: white;
}

#content {
	top: 0;
	width: 55%;
	height: 100%;
	position: fixed;

	margin-left: 45%;
	/*background-color: grey;*/
	background-color: rgba(157, 180, 153, 0.6);
	/*opacity: 0.4;*/


	border: 1px solid grey;

	display: flex;
}

#left {
	margin-top: 20%;

	height: 100%;
	width: 50%;
	/*border: 1px solid red;*/
	text-align: center;
}

#left img {
	filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}

#right {
	margin-top: 17%;

	height: 100%;
	width: 50%;
	/*border: 1px solid red;*/

	font-size: 22px;
}

#button {
	background-color: #00AED9;
	width: 40%;
	height: 5%;

	text-align: center;
	/*padding: 7px;*/
	line-height: 33px;
	padding: 5px;

	filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));

	margin: 10% 0% 0% 10%;
}

#button:hover {
	background-color: #0091B4;
}


